/* Place your CSS here */

.chat-bubble {
    padding: 10px;
    background-color: #add8e6;
    margin: 5px;
    max-width: 60%;
    word-break: break-all;
    clear: both;
    float: left;
    border-radius: 15px;
}

.chat-bubble-input {
    padding: 10px;
    background-color: lightgray;
    margin: 5px;
    max-width: 60%;
    word-break: break-all;
    clear: both;
    float: right;
    border-radius: 15px;
}

footer {
    position: absolute;
    bottom: 0;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 15px;
    padding: 8px;
}

.date {
    font-style: italic;
    font-size: 12px; 
}