<div class="row">
    <div class="col col-md-12">
        <h3>{{ name }}</h3>
        <a href="#" ui-sref="home">Volver al lobby</a> |
        <a href="#" ng-click="logout()">Cerrar sesión</a> <br><br>
        <div class="chat-box" scroll-glue>
            <div ng-repeat="msg in data">
                <div ng-class="{ 'chat-bubble-input': msg.username == me, 'chat-bubble': msg.username != me }">
                    <strong>{{ msg.username }}</strong><br>
                    {{ msg.message }}<br>
                    <span class="date">{{ msg.date | date: 'dd/MM/yy hh:mm' }}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="msg" ng-model="msg" maxlength="100" placeholder="Escribe un mensaje..." ng-keydown="send($event)">
        </div>
    </div>
</div>