<div class="row">
    <div class="col col-md-8 col-md-offset-2">
        <p>
            Firechat es una sala de chat gratuita construida como experimento de su desarrollador.
        </p>
        <p>
            Firechat está construido usando Bootstrap, AngularJS y Firebase.
        </p>
    </div>
</div>

<div class="row">
    <h3>Salas</h3>
    <div class="col col-md-12">
        <div class="list-group" ng-if="logged">
            <a ng-href="#" ui-sref="chat({ id: chat.id, name: chat.name })" class="list-group-item" ng-repeat="chat in chats">
                {{ chat.name }}
            </a>
        </div>

        <div class="list-group" ng-if="!logged">
            <form name="register">
                <div class="form-group">
                    <label for="username">
                        Nombre de usuario
                    </label>
                    <input type="text" class="form-control" id="username" maxlength="12" ng-model="login.username" placeholder="Escoge un nombre de usuario" required>
                </div>
            </form>
            <button class="btn btn-primary" style="width: 100%" ng-click="setUsername()" ng-disabled="register.$invalid">
                Entrar
            </button>
        </div>
    </div>
</div>